body {
  font-family: 'Playfair Display SC', serif;
  background-color: #c6c6ec;
  text-transform: uppercase;
  background-image: url(./images/backgrounds/dungeon_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*div {
  border: 1px solid white;
}*/

#damageAnnouncer {
  font-size: 25px;
  line-height: 20px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
}

#turnAnnouncer {
  color: #FFF;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.4);
}


#fighterStats, #foeSelect {
  text-align: left;
  color: #FFF;
  padding: 10px;
  font-size: 30px;
}

#fighterStats {
  position: relative;
  float: right;
  top: -120px;
}

#foeSelect {
  float: left;
}

#thisStuff {
  color: #FFF;
  width: 45%;
}

#thisStuff li {
  text-decoration: none;
  list-style: none;
}

#thisStuff button {
  font-size: 25px;
}

#menus {
/*  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));*/

/*  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));*/
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
/*  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));*/

  display: inline-block;
  position: fixed;
/*  border: 10px solid white;*/
/*  border-radius: 15px;*/
  margin: 0 auto;
  left: 0px;
  bottom: 0px;
  height: 150px;
  width: 100%;
}


#foe {
/*  background-image: url(./images/sprites/Titan.png);*/
  background-repeat: no-repeat;
  float: left;
  position: relative;
  top: -50px;
  left: 80px;
  width: 500px;
  height: 600px;
  z-index: -1;
}

#foe span {
  position: relative;
  top: -500px;
  left: 100px;
  font-size: 85px;
  color: red;
  float: right;
}

#fhtBar, #whmBar, #blmBar {
  position: relative;
  font-size: 35px;
  color: white;
  float: left;
  margin: 0px;
  padding: 0px;
  z-index: -1;
}

#playerCharacter2 span {

}

#playerCharacter3 span {

}


#pcStack {
  display: inline-block;
  float: right;
  margin: 15px;
  width: 200px;
  padding: 15px;
  position: relative;
  right: 200px;
}

#foeSelect {
  width: 100px;
  float: left;
}

#partyMenu {
  float: right;
}

#playerCharacter1 {
  position: relative;
  left: -80px;
  z-index: 1;
}

#playerCharacter2 {

  position: relative;
  left: 75px;
  z-index: 1;
}

#playerCharacter3 {
  position: relative;
  top: 10px;
  z-index: 1;
}


#playerCharacter1 p, #playerCharacter2 p, #playerCharacter3 p {
  line-height: 300px;
  font-size: 50px;
  color: #FFF;
}

#winorloss {
  font-size: 75px;
}

/* Effects */

.FireSprite {
  position: fixed;
  width: 300px;
  top: 200px;
  left: 250px;
  z-index: 1;
}

#HealGif {
  position: fixed;
  z-index: 2;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@-webkit-keyframes demo {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}


