body {
  font-family: 'Playfair Display SC', serif;
  background-color: #c6c6ec;
  text-transform: uppercase;
  background-image: url(./images/backgrounds/grass_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*div {
  border: 1px solid white;
}*/
#turnAnouncer {
  width: 200px;
  font-color: #FFF;
  font-size: 20px;
}


#fighterStats {
  text-align: left;
  color: #FFF;
  padding: 10px;
  font-size: 35px;
}

#thisStuff {
  display: inline;
}

#thisStuff button {
  font-size: 25px;
}

#menus {
  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(34, 63, 158, 1));
  display: inline-block;
  position: fixed;
  border: 10px solid white;
  border-radius: 15px;
  margin: 0 auto;
  left: 0px;
  bottom: 0px;
  height: 150px;
  width: 99%;
}


#foe, #playerCharacter {
  width: 100px;
  height: 100px;
}

#foe {
/*  background-image: url(./images/sprites/Titan.png);*/
  background-repeat: no-repeat;
  float: left;
  position: relative;
  top: 0px;
  left: 80px;
  width: 500px;
  height: 600px;
}

#foe span {
  position: relative;
  bottom: 100px;
  font-size: 50px;
  color: #FFF;
  float: right;
}

#pcStack {
  display: inline-block;
  float: right;
  position: relative;
  top: 100px;
  right: 100px;
}

#foeSelect {
  width: 100px;
  float: left;
}

#partyMenu {
  float: right;
}

#playerCharacter1 {
/*  background-image: url(./images/sprites/OnionKnight1.png);*/
  background-repeat: no-repeat;
  background-size: 90%;
}

#playerCharacter2 {
/*  background-image: url(./images/sprites/WhiteMage1.png);*/
  background-repeat: no-repeat;
  background-size: 80%;
}

#playerCharacter3 {
/*  background-image: url(./images/sprites/BlackMage1.png);*/
  background-repeat: no-repeat;
  background-size: 80%;
}

#playerCharacter1, #playerCharacter2, #playerCharacter3 {
  height: 150px;
  width: 150px;
}

#playerCharacter1 p, #playerCharacter2 p, #playerCharacter3 p {
  line-height: 300px;
  font-size: 50px;
  color: #FFF;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}